/**********************************************************************************
*
*    Copyright (c) 2017-2019 MuK IT GmbH.
*
*    This file is part of MuK Web Branding 
*    (see https://mukit.at).
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Lesser General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Lesser General Public License for more details.
*
*    You should have received a copy of the GNU Lesser General Public License
*    along with this program. If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

//----------------------------------------------------------
// Main Brand Colors
//----------------------------------------------------------

@flectra-brand-primary: #7c7bad;
@flectra-brand-optional: #7c7bad;
@flectra-brand-secondary: #f0eeee;
@flectra-brand-lightsecondary: #e2e2e0;

//----------------------------------------------------------
// Secondary Brand Colors
//----------------------------------------------------------

@flectra-color-silver: #F9F9F9;
@flectra-color-silver-dark: #E5E5E5;
@flectra-color-silver-darker: #d9d7d7;

@gray-lighter-dark: @flectra-color-silver-dark;
@gray-lighter-darker: @flectra-color-silver-darker;

@flectra-color-pink: @flectra-brand-primary;

//----------------------------------------------------------
// Text Colors
//----------------------------------------------------------

@flectra-main-text-color: #4c4c4c;
@flectra-main-color-muted: #a8a8a8;

//----------------------------------------------------------
// Layout Colors
//----------------------------------------------------------

@flectra-view-background-color: #ffffff;
