/**********************************************************************************
*
*    Copyright (c) 2017-2019 MuK IT GmbH.
*
*    This file is part of MuK Web Branding 
*    (see https://mukit.at).
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Lesser General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Lesser General Public License for more details.
*
*    You should have received a copy of the GNU Lesser General Public License
*    along with this program. If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

//----------------------------------------------------------
// Layout Colors
//----------------------------------------------------------

@flectra-webclient-background-color: #f9f9f9;
@flectra-control-panel-background-color: #f9f9f9;
@flectra-form-lightsecondary: #ccc;

//----------------------------------------------------------
// Color Palette
//----------------------------------------------------------

@flectra-color-0: #757575;
@flectra-color-1: #F06050;
@flectra-color-2: #F4A460;
@flectra-color-3: #F7CD1F;
@flectra-color-4: #6CC1ED;
@flectra-color-5: #814968;
@flectra-color-6: #EB7E7F;
@flectra-color-7: #2C8397;
@flectra-color-8: #475577;
@flectra-color-9: #D6145F;
@flectra-color-10: #30C381;
@flectra-color-11: #9365B8;
