/**********************************************************************************
* 
*    Copyright (C) 2017 MuK IT GmbH
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Affero General Public License as
*    published by the Free Software Foundation, either version 3 of the
*    License, or (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

.no_unlink {
	.o_list_record_selector .o_checkbox {
		position: relative;
		    
		&:before{
		    top: -18px;
		    left: 2px;
			position: absolute;
			content: "\f05e";
			font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    font-size: 15px;
		    text-decoration: inherit;
		}
		
		input[type=checkbox] {
			display: none;
		}
	}
}

.locked {
	color: @flectra-main-color-muted;
	
	.o_list_record_selector .o_checkbox {
		position: relative;
		    
		&:before{
		    top: -18px;
		    left: 2px;
			position: absolute;
			content: "\f023";
			font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    font-size: 15px;
		    text-decoration: inherit;
		}
		
		input[type=checkbox] {
			display: none;
		}
	}
}        